/*radius = (width / 2) - (strokeWidth * 2)*/
html,
body {
    background-color: #000;
    font-family: Arial;
}

.circle {
    position: relative;
    max-width: 200px;
    width: 100%;
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.circle-progress-value {
    text-align: center;
    fill: white;
}

.progress-circle-inactive {
    stroke: white;
    stroke-width: 5px;
    stroke-dasharray: 1 5;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* Defines the width of the dashes and the space between the dashes */
.progress-circle-active {
    stroke-width: 15px;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* stroke dashoffset: allows you to move the starting point of the dash-gap sequence along the path of the svg element - https://jakearchibald.com/2013/animated-line-drawing-svg/ */

/* circumference = radius * 2 * PI
326.7256 ~= 52 * 2 * PI */
