/*radius = (width / 2) - (strokeWidth * 2)*/
/* stroke dashoffset: allows you to move the starting point of the dash-gap sequence along the path of the svg element - https://jakearchibald.com/2013/animated-line-drawing-svg/ */

html,
body {
    background-color: #000;
    color:white;
    font-family: Arial, sans-serif;
}

.circle {
    position: relative;
    max-width: 400px;
    width: 100%;
}

svg {
    left: 0;
    min-height: 150px;
    position: absolute;
    top: 0;
    width: 100%;
}

.circle-progress-value {
    fill: white;
    text-align: center;
}

.progress-circle-inactive {
    stroke-width: 5;
    stroke-dashoffset: 100;
    stroke-dasharray: 600;
    stroke: #ffffff;
    transition: stroke-dashoffset 0.35s;
}

/* Defines the width of the dashes and the space between the dashes */
.progress-circle-active {
    stroke-width: 15px;
    transition: stroke-dashoffset 0.35s;
}


